.section2{
    width:100%;
    height:100vh;
    background-image: url(../images/parliament.jpg);
    background-size: 100%;
    margin-top:-20px;
}
/* .carousel-item img{
    max-width:100%;
} */
.container-fluid{
    padding-right:0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}