body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    background-image: url(../images/image.jpg);
}

#login-box {
    width: 330px;
    height: 400px;
    padding: 20px;
    margin: 100px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url(../images/image.jpg);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
}

button[type="submit"] {
    width: 320px;
    padding: 10px;
    margin: 20px 0;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}